body{
	background-image: url(../images/background.jpg);
}

h1{
	color: #F3BE60;
}

span{
	color: #F3BE60;
}

div.logo{
	position:absolute; 
	margin:-4%; 
	margin-left:70%;
}

div.main{
	color:white; 
	margin:5%; 
	font-size:35px; 
	font-family:Calibri;
}

div.frame{
	border:groove; 
	border-color:grey; 
	background-color:rgba(90, 90, 90, 0.2); 
	font-size:25px; 
	margin:12px
}